<div class="main-header-left">
  <% if user_signed_in? %>
    <li class="department-list">
      <ul class="department-name">
        <%= link_to '役員', '#' %>
      </ul>
      <ul class="department-name">
        <%= link_to '営業', '#' %>
      </ul>
      <ul class="department-name">
        <%= link_to '経理', '#' %>
      </ul>
      <ul class="department-name">
        <%= link_to '総務', '#' %>
      </ul>
    </li>
  <% end %>
</div>