/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

.header {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  height: 100px;
}

.header-left {
  background-color: lightgrey;
  width: 300px;
  padding-top: 25px;
  padding-left: 25px;
}


.header-right {
  background-color: lightblue;
  width: calc(100vw - 300px);
  padding-right: 100px;
  padding-top: 25px;
  text-align: right;
  color: black;
  border: none;
  display: inline-block;
  flex-direction: column;
}

.main-header {
  display: flex;
}

.main-header-left {
  width: 300px;
}

.department-list {
  font-size: 30px;
  text-align: center;
}

.department-name {
  padding: 20px 0;
}

.main-header-right {
  width: calc(100vw - 300px);
  margin-top: 20px;
}

.schedule-left {
  width: 300px;
}

.schedule-right {
  width: calc((100 - 300px) / 2);
}

.list {
  width: calc((100% - 350px) / 2);
  border: 1px solid;
  margin-top: 20px;
  padding: 20px;
}

.schedule_up {
  font-size: 20px;
  border: 1px solid;
  margin-top: 20px;
  padding: 20px;
  width: 400px;
}
.schedules {
  display: flex;
  margin-bottom: 10px;
}

.schedules-update-delete {
  display: flex;
  justify-content: space-around;
}

.schedule-update {
  border: 1px solid;
  margin: 5px;
  padding: 5px;
  color: green;
}

.schedule-delete {
  border: 1px solid;
  margin: 5px;
  padding:5px;
  color: red;
}