.comment-new {
  font-size: 20px;
  padding-top: 20px; 
}

.comment-text {
  width: 60%;
  height: 100px;
}

.comment-btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  margin-top: 20px;
}

.comments_list {
  margin-top: 20px;
  border: 1px solid;
  width: 60%;
  padding: 10px 0 10px 10px;
}

.comment_list {
  font-size: 20px;
  padding-top: 10px;
}

.schedules-comments {
  display: flex;
  margin: 10px;
}

.comment-confirm {
  border: 1px solid;
  padding: 5px;
}

.comment-count {
  margin-left: 20px;
  color: orange;
  text-decoration: underline;
}

.report-make {
  display: flex;
}

.report-writing {
  margin: 100px;
  display: inline-block;
  padding: 1.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: lightgreen;
  border: 1px lightgreen solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

