<%= form_with(model: [@schedule,@report], local: true) do |f| %>
  <div class="img-upload">
    <div class="weight-bold-text">
      報告書用写真
    </div>
   <div class="click-upload">
    <p>
     クリックしてファイルをアップロード
    </p>
    <%= f.file_field :image, id:"report-image" %>
   </div>
  </div>
  <div class="new-items">
   <div class="weight-bold-text">
    報告書の詳細
   </div>
   <%= f.text_area :text, class:"report-text", id:"report-name" %>
  </div>
  <%= f.submit "報告書の作成", class:"sell-btn" %>
<% end %>